*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
.app{
  width: 900px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  position: relative;
}
.pagination{
  position: absolute;
  bottom: 10px;
  left: 27%;
}
.pagecontext{
  width: 100%;
  height: 90%;
  border: 1px solid #ccc
}
.pagecontext p{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.pagecontext p b{
  margin: 0 20px;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
}
.pagecontext p span{
  color: rgb(80, 18, 223)
}